@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;700&display=swap');

body {
    /* background: #131316; */
    color: black;
    font-family: 'Poppins', sans-serif;
    padding: 0;
    margin: 0;
}

.navbar {
    background: #FFBE00;
    height: 20vh;
}

.nav-link {
    color: #000000;
    font-weight: 400;
    font-size: 25px;
    text-align: center;
    line-height: 27.2px;
}

.nav-link:hover {
    color: #000000;
    font-weight: 800;

}

.container-header, 
.container-presentacion, 
.container-scientific, 
.container-text,
.container-servicios-oneTime,
.container-servicios-continuos,
.container-contacto
{
    padding-left: 8rem;
    padding-right: 8rem;

    padding-top: 5rem;
    padding-bottom: 5rem;
}

section {
    display: flex;
    flex-direction: column;
    min-height: 80vh;
}

section h2 {
    font-weight: 600;
    font-size: 36px;
    padding-bottom: 4rem;
}

.hidden {
    opacity: 0;
    filter: blur(5px);
    transform: translateX(-100%);
    transition: all 1s;
}

.show {
    opacity: 1;
    filter: blur(0);
    transform: translateX(0);
}

.container-presentacion {
    background: #FFBE00;
}

.row-nav-container {
    width: 100%;
}

.row-nav-content {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.container-language a{
    font-weight: 800;
}

.language-content:hover {
    font-weight: 500;
}

.presentacion {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.presentacion h1 {
    font-weight: 700;
    font-size: 60px;
}

.presentacion h2 {
    font-weight: 300;
    font-size: 40px;
    line-height: 43.52px;
}

.container-text {
    background-color: #FFBE00;

    display: flex;
    align-items: center;
    text-align: center;
}

.container-text h1 {
    font-weight: 600;
    margin-top: 120px;
}

.cards {
    display: flex;
    flex-direction: column;
    gap: 6px;
    align-items: center;
}

.cards i {
    color: #FFBE00;
    font-size: 3rem;
}

.cards-2 {
    display: flex;
    flex-direction: column;
    gap: 6px;
    align-items: center;
}

.cards-2 i {
    color: #000000;
    font-size: 3rem;
}

.primary-text-card {
    font-size: 24px;
    font-weight: 600;
    text-align: center;
}

.secondary-text-card {
    font-size: 18px;
    text-align: center;
}

.container-cards {
    display: flex;
    width: 100%;
    justify-content: space-between;
    flex-wrap: wrap;
}

.container-cards .row {
    width: 100%;
    row-gap: 2.5rem;
}

.container-servicios-continuos {
    background: #FFBE00;
}

.container-white-servicios-continuos, .container-white-servicios-contacto {
    background: #ffff;
    height: 60vh;
}

.container-white-servicios-continuos h2 {
    padding: 3rem 4rem;
}

.container-cards-continuos {
    margin-top: 1rem;
}

.container-white-servicios-contacto{
    padding: 5rem;
}

.card-contacto {
    display: flex;
    justify-content: center;
}

.card-contacto .row {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
}

@media(prefers-reduced-motion) {
    .hidden {
        transition: none;
    }
}

.logos {
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.logo {
    background: #FFBE00;
    border-radius: 25px;
}

.logo img {
    height: 125px;
}

.logo:nth-child(2) {
    transition-delay: 200ms;
}

.logo:nth-child(3) {
    transition-delay: 400ms;
}

.logo:nth-child(4) {
    transition-delay: 600ms;
}

#pixi-container {
    width: 100%;
    height: 100vh;
    position: relative;
  }

  /* Estilos para el canvas */
  #pixi-container canvas {
    width: 100%;
    height: 100%;
    display: block;
    touch-action: none;
    cursor: inherit;
  }