@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;700&display=swap');

:root {
    --color-primary: #6F4A38;
    --color-secondary: #FFBE00;
}

body {
    /* background: #131316; */
    color: black;
    font-family: 'Poppins', sans-serif;
    padding: 0;
    margin: 0;
}

h1 {
    font-size: 60px;
    line-height: 65.28px;
    font-weight: 300;
}

h2 {
    font-size: 40px;
    line-height: 43.52px;
    font-weight: 300;
}

h3 {
    font-size: 30px;
    line-height: 32.64px;
    font-weight: 300;
}

h4 {
    font-size: 20px;
    line-height: 21.76px;
    font-weight: 300;
}

h5 {
    font-size: 15px;
    line-height: 16.32px;
    font-weight: 300;
}



.navbar {
    background: #FFBE00;
    height: 20vh;
}

.nav-link {
    color: #000000;
    font-weight: 400;
    font-size: 25px;
    text-align: center;
    line-height: 27.2px;
}

.nav-link:hover {
    color: var(--color-primary);
    font-weight: 400;

}

.container-header, 
.container-presentacion, 
.container-scientific, 
.container-text,
.container-servicios-oneTime,
.container-servicios-continuos,
.container-contacto
{
    padding-left: 8rem;
    padding-right: 8rem;

    padding-top: 5rem;
    padding-bottom: 5rem;
}

section {
    display: flex;
    flex-direction: column;
    min-height: 80vh;
}

section h2 {
    font-weight: 600;
    font-size: 36px;
    padding-bottom: 4rem;
}

.hidden {
    opacity: 0;
    filter: blur(5px);
    transform: translateX(-100%);
    transition: all 1s;
}

.show {
    opacity: 1;
    filter: blur(0);
    transform: translateX(0);
}

.container-presentacion {
    background: #FFBE00;
}

.row-nav-container {
    width: 100%;
}

.row-nav-content {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.container-language a{
    font-weight: 800;
}

.language-content:hover {
    font-weight: 800;
}

.presentacion {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.presentacion h1 {
    font-weight: 700;
    font-size: 60px;
}

.presentacion h2 {
    font-weight: 300;
    font-size: 40px;
    line-height: 43.52px;
}

.container-text {
    background-color: #FFBE00;

    display: flex;
    align-items: center;
    justify-content: center;
}

.container-text h1 {
    max-width: 1200px;
    font-weight: 700;
    font-size: 60px;
    line-height: 65.28px;
    text-align: center;
}

.cards {
    display: flex;
    flex-direction: column;
    gap: 6px;
    align-items: center;
}

.cards i {
    color: #FFBE00;
    font-size: 3rem;
}

.cards-2 {
    display: flex;
    flex-direction: column;
    gap: 6px;
    align-items: center;
}

.cards-2 i {
    color: var(--color-secondary);
    font-size: 3rem;
}

.primary-text-card {
    font-size: 24px;
    font-weight: 600;
    text-align: center;
}

.secondary-text-card {
    font-size: 18px;
    text-align: center;
}

.container-cards {
    display: flex;
    width: 100%;
    justify-content: space-between;
    flex-wrap: wrap;
}

.container-cards .row {
    width: 100%;
    row-gap: 2.5rem;
}

.container-servicios-continuos {
    background: #FFBE00;
}

.container-white-servicios-continuos, .container-white-servicios-contacto {
    background: #ffff;
    height: 60vh;
}

.container-white-servicios-continuos h2 {
    padding: 3rem 4rem;
}

.container-cards-continuos {
    margin-top: 1rem;
}

.container-white-servicios-contacto{
    padding: 5rem;
}

.card-contacto {
    display: flex;
    justify-content: center;
}

.card-contacto .row {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
}

@media(prefers-reduced-motion) {
    .hidden {
        transition: none;
    }
}

.logos {
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.logo {
    padding-bottom: 1rem;
}

.logo:nth-child(2) {
    transition-delay: 200ms;
}

.logo:nth-child(3) {
    transition-delay: 400ms;
}

.logo:nth-child(4) {
    transition-delay: 600ms;
}

.logo:nth-child(5) {
    transition-delay: 800ms;
}

.logo:nth-child(6) {
    transition-delay: 1000ms;
}

.container-scientific {
    justify-content: space-around;
}

.box-scientific {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
}

.title-scientific h1 {
    font-weight: 700;
}

.img-scientific {
    display: flex;
    justify-content: center;

    /* background: #FFBE00; */
    border-radius: 25px;
    margin-bottom: 1rem;
}

.img-scientific img {
    background: #FFBE00;
    border-radius: 25px;
    height: 125px;
    padding: 2rem;
}

.content-scientific {
    display: flex;
    flex-direction: column;
    align-items: center;

    text-align: center;
}

.content-scientific h3 {
    font-weight: 500;
    margin-bottom: 0.8rem;
}

.content-scientific h4 {
    font-weight: 500;
}

.container-servicios-oneTime {
    justify-content: space-around;
}

.container-scientific, .container-servicios-oneTime, .container-servicios-continuos, .container-contacto {
    height: 100vh;
}

.box-scientific, .box-servicios, .box-contacto {
    background: white;
    display: flex;
    flex-direction: column;
    height: 100%;
}

.title-scientific-new {
    position: absolute;
    padding: 4rem 8rem;
}

.title-box {
    position: absolute;
    top: 0;
    z-index: 5;
    padding: 0rem 4rem;
}

.container-cards-continuos {
    height: 100%;
    align-items: center;
}

.card-contacto {
    height: 100%;
    padding: 4rem 8rem;
}

.contacto-content {
    display: flex;
    align-items: flex-end;
    justify-content: center;

    gap: 2rem;
}

.info-contacto {
    padding: 1rem 0;
}

.info-contacto h3 {
    font-weight: 500;
}

.info-contacto h4 {
    font-weight: 500;
}

.box-scientific, .box-contacto, .box-servicios {
    position: relative;
}


.figure img {
    height: 150px;
    width: 150px;
}

.figure-halfcircle {
    position: absolute;
    right: 0;
    bottom: 0;
    border: 1px solid transparent;

/*     border-top-left-radius: 80%;
    border-top-color: var(--color-secondary);
    border-left-color: var(--color-secondary); */
}

.figure-circle {
    position: absolute;
    right: 0;
    top: 0;
}


.figure-circlemorecircle {
    position: absolute;
    right: 0;
    bottom: 0;
}

.figure-circlestwo {
    position: absolute;
    right: 0;
    top: 0;
}

.figure-circleyellow {
    position: absolute;
    left: 35%;
    bottom: 0;
}

.figure-circlemoreline {
    position: absolute;
    left: 0;
    bottom: 0;
}

.figure-elehalfcircle {
    position: absolute;
    right: 0;
    top: 0;
}

.circleyellow-pos2 {
    left: 60%;
}

.circlemoreline-pos2 {
    top: 0;
    left: 0;
}